<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>IOPTransactionSubmit</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x31CD0010</string>
				<key>ArgNames</key>
				<dict>
					<key>Arg1</key>
					<string>IOPAttachment</string>
					<key>Arg2</key>
					<string>Primary IOSurface</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOPTransactionNotification</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x31CD0014</string>
				<key>ArgNames</key>
				<dict>
					<key>Arg1</key>
					<string>IOPAttachment</string>
					<key>Arg2</key>
					<string>Primary IOSurface</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Display Pipe GPU Work Scheduling Delay</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x31CD0019</string>
				<key>KTraceCodeEnd</key>
				<string>0x31CD001A</string>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg1</key>
					<string>Display Pipe</string>
					<key>Arg2</key>
					<string>Source IOSurface ID</string>
					<key>Arg3</key>
					<string>Target IOSurface ID</string>
				</dict>
				<key>ArgNamesEnd</key>
				<dict>
					<key>Arg1</key>
					<string>Display Pipe</string>
					<key>Arg2</key>
					<string>Source IOSurface ID</string>
					<key>Arg3</key>
					<string>Target IOSurface ID</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>GetNextWakeup</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x31CD001D</string>
				<key>KTraceCodeEnd</key>
				<string>0x31CD001E</string>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg1</key>
					<string>Display ID</string>
					<key>Arg2</key>
					<string>Now</string>
					<key>Arg3</key>
					<string>Last VBL</string>
					<key>Arg4</key>
					<string>VBL Delta</string>
				</dict>
				<key>ArgNamesEnd</key>
				<dict>
					<key>Arg1</key>
					<string>Display ID</string>
					<key>Arg2</key>
					<string>Next Wakeup</string>
					<key>Arg3</key>
					<string>Wait Coeff</string>
				</dict>
			</dict>
		</array>
		<key>Name</key>
		<string>CoreDisplay Events</string>
	</dict>
</array>
</plist>
