<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391011</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOHIDUserClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOHIDUserClient</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11L325i</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19A471m</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11L325i</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOHIDLibUPSUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsagePage</key>
					<integer>132</integer>
				</dict>
				<dict>
					<key>DeviceUsagePage</key>
					<integer>133</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>40A57A4E-26A0-11D8-9295-000A958A2C78</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOHIDLibUserClient</string>
				<key>UPSDevice</key>
				<true/>
			</dict>
		</dict>
		<key>IOHIDLibUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOHIDLibUserClient</string>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>"Copyright © 2000-2018 Apple Inc. All rights reserved. [IOHIDFamily-1391.0.0.111.1]"</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
